<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Yash Patel" />
    <title>Avatar</title>
    <!-- <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="/css/utilities/main.css" /> -->
  </head>
  <body>
    <!-- avatar square -->
    <h1>Avatar</h1>
    <h1>Square avatar</h1>
    <div class="avatar">
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__round-border avatar-image-sm"
      />
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__round-border avatar-image-md"
      />

      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__round-border avatar-image-lg"
      />

      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__round-border avatar-image-xl"
      />

      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__round-border avatar-image-2xl"
      />
    </div>
    <!-- avatar round -->
    <h1>Round avatar</h1>
    <div class="avatar">
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__circle avatar-image-sm"
      />
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__circle avatar-image-md"
      />
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__circle avatar-image-lg"
      />
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__circle avatar-image-xl"
      />
      <img
        src="https://picsum.photos/200"
        alt="avatar"
        class="avatar__circle avatar-image-2xl"
      />
    </div>

    <!-- avatar with badge -->
    <h1>Badge on avatar</h1>
    <div class="avatar avatar-flex">
      <div
        class="avatar avatar-image-sm avatar-text fn-size-xs"
        role="img"
        alt="avatar"
      >
        YP
      </div>
      <div
        class="avatar avatar-image-md avatar-text fn-size-s"
        role="img"
        alt="avatar"
      >
        YP
      </div>
      <div
        class="avatar avatar-image-lg avatar-text fn-size-m"
        role="img"
        alt="avatar"
      >
        YP
      </div>
      <div
        class="avatar avatar-image-xl avatar-text fn-size-l"
        role="img"
        alt="avatar"
      >
        YP
      </div>
      <div
        class="avatar avatar-image-2xl avatar-text fn-size-xl"
        role="img"
        alt="avatar"
      >
        YP
      </div>
    </div>
  </body>
</html>
