<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Yash Patel" />
    <title>Badge</title>
  </head>
  <body>
    <h1>Badge</h1>
    <h1>Badge with icon</h1>
    <div class="badge">
      <div>
        <span class="material-icons"><div class="fn-size-xl">email</div> </span>
        <div class="num icon-notification">7</div>
      </div>
      <div>
        <span class="material-icons">
          <div class="fn-size-xl">account_circle</div>
        </span>
        <div class="num icon-notification">4</div>
      </div>
      <div>
        <span class="material-icons">
          <div class="fn-size-xl">shopping_cart</div></span
        >
        <div class="num icon-notification">9+</div>
      </div>
      <div>
        <span class="material-icons"
          ><div class="fn-size-xl">shopping_cart_checkout</div>
        </span>
        <div class="num icon-notification">10</div>
      </div>
      <div>
        <span class="material-icons">
          <div class="fn-size-xl">notifications_active</div></span
        >
        <div class="num icon-notification">1</div>
      </div>
    </div>
    <h1>Badge with avatar</h1>
    <div class="badge">
      <div>
        <img
          src="https://picsum.photos/200"
          alt="avatar"
          class="avatar__circle avatar-image-xl"
        />
        <span class="num avatar-online"></span>
      </div>
      <div>
        <img
          src="https://picsum.photos/200"
          alt="avatar"
          class="avatar__circle avatar-image-xl"
        />
        <span class="num avatar-away"></span>
      </div>
      <div>
        <img
          src="https://picsum.photos/200"
          alt="avatar"
          class="avatar__circle avatar-image-xl"
        />
        <span class="num avatar-offline"></span>
      </div>
      <div>
        <img
          src="https://picsum.photos/200"
          alt="avatar"
          class="avatar__circle avatar-image-xl"
        />
        <span class="num avatar-notification">7</span>
      </div>
      <div>
        <img
          src="https://picsum.photos/200"
          alt="avatar"
          class="avatar__circle avatar-image-xl"
        />
        <span class="num avatar-notification">7</span>
      </div>
    </div>
  </body>
</html>
